# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Production Build
client/dist/

# Audio Temp Folders
server/uploads/
server/processed/

# Environment Variables & Logs
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db